body{
    margin: 0%;
}
.main-header{
    width: 100%;
    height: 900px;
    background: url(img/Rectangle2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-menu{
    display: flex;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #A1A1A1;
}
.empty-block{
    width: 50%;
}
.menu{
    width: 50%;
    display: flex;

}
.menu-list{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;  
    align-items: center;  
}
.menu-list li{
    list-style: none;
    align-items: center;
    padding-left: 22px;
}
.menu-list li a{
    text-decoration: none;
    font-family: Montserrat Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;  
    color: #FFFFFF;
}
.main-header-text{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text p{
    margin: 0;
    font-family: Montserrat Medium, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.text h1{
    margin: 0;
    padding: 20px 0px 50px 0px;
    font-family: Montserrat ExtraBold, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}
.our-projects a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Montserrat Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.our-projects{
    width: 200px;
    height: 45px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: none;
}
.our-work{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile-applications-text{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.mobile-applications{
    width: 100%;
    height: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-applications-text h2{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #323232;
}
.mobile-applications-text p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center; 
    color: #999999;
    margin-bottom: 0;
}
.applications-border-radius-one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border-radius: 60px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
}
.applications-border-radius-two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 1px solid #4985FF;
    box-sizing: border-box;
    border-radius: 60px;
}
.applications-border-radius-two{
    font-size: 70px;
    color:  #4985FF;
}
.website-development{
    padding: 25px 0px 0px 12px;
}
.website-development h3{
    font-family: Montserrat SemiBold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}
.website-development p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    margin: 0;
}
.button-service{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
.development-standards{
    width: 100%;
    height: 660px;
    background: #F6F6F8;
}
.development-standards-text{
    width: 72%;
}
.development-standards-photo{
    width: 45%;
    height: 71%;
    display: flex;
    align-items: flex-end;
}
.development-standards-img img{
    width: 400px;
    height:300px;
}
.development-standards-text h4{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    color: #323232;
}
.development-standards-text p{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}
.development-standards-text a{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-decoration-line: underline;
    line-height: 18px;
    color: #4985FF;
}
.development-standards-container{
    width: 55%;
    display: flex;
    justify-content: center;
    height: 67%;
    align-items: flex-end;
}
.development-standards-wrapper{
    display: flex;
    width: 100%;
    height: 86%;
}
.counter{
    width: 100%;
    height: 14%;
}
.counter-wrapper-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 14%;
    justify-content: center;
}
.counter-number{
    display: flex;
    align-items: center;
    height: 30%
}
.counter-number p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #000000;
}
.counter-number i{
    font-size: 22px;
    padding-right: 10px;
    color: #4985FF;
}
.counter-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.counter-text{
    height: 70%;
}
.counter-text p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}
.specialized-work{
    width: 100%;
    min-height: 700px;
    position: relative;
}
    
.blue-block{
    width: 100%;
    height: 50%;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    position: absolute;
    z-index: -1;
}
.specialized-text-block{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
    width: 49%;
    text-align: center;
}
.specialized-work-text{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 195px;
}
.button-service.specialized{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 40%;
}
.wrapper-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
}
.wrapper-items img{
    width: 250px;
    height: 200px;
}
.items{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.items span{
    font-family: Montserrat SemiBold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding-top: 16px;
}
.items p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}
.items a{
    font-family: Montserrat Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #4985FF;
    text-decoration-line: underline;
}
.wrapper-items-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.items-line{
    border-bottom: 1px solid #E0E0E0;
    height: 60px;
    width: 71%;
}
.project-firm{
    width: 100%;   
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F6F6F8;
}
.project-firm-text{
    flex-direction: column;
    width: 100%;
    height: 158px;
    display: flex;
    justify-content: center;
}
.project-firm-text h5{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    margin: 0;
}
.project-firm-text p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #999999;
    padding-top: 10px;
    margin: 0;
}
.project-firm-img img{
    width: 200px;
    height: 200px;
    padding-right: 10px;
}
.popap{
    width: 100%;
    height: 640px;
    position: relative;
}
.popap-img img{
    width: 100%;
    height: 550px;
}
.popap-img{
    width: 100%;
    height: 550px;
    position: absolute;
    z-index: -1;
}
.popap-text p{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.popap-text span{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.popap-botton-text{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popap-text{
    justify-content: center;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
}
.popap-botton-bg{
    width: 63%;
    height: 60%;
    background: url(img/Rectangle5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popap-botton{
    width: 300px;
    height: 100px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 200px;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.popap-botton i{
    font-size: 45px;
    color: #FFFFFF;;
    background-color: #4985FF;
    border-radius: 50px;
    border: 0px none;
}
.popap-botton a{
    font-family: Montserrat Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 25px;
}
.email-newsletter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.email-newsletter h6{
    font-family: Montserrat SemiBold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}
.email-newsletter p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #999999;
}
.input-box-text p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}
.input-selector{
    height: 35px;
    border-radius: 50px 0px 0px 50px;
    border: 1px solid #4985FF;
    outline: none;
    width: 256px;
    padding-left: 10px;
}
.input-button{
    background: #4985FF;
    border: none;
    width: 180px;
    border-radius: 0px 50px 50px 0px;
    outline: none;
}
.input-box{
    display: flex;
}
.input-button p{
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
.footer-informations p{
    font-family: Montserrat SemiBold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}
.footer-informations ul{
    list-style: none;
    padding:0;
}
.footer-informations ul>li>i{
    font-size: 22px;
    color: #4985FF;
    padding-right: 10px;
}
.footer-main-link p{
    font-family: Montserrat SemiBold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}
.footer-main-link ul{
    list-style-type: square;
}
.footer-our-project p{
    font-family: Montserrat SemiBold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}
.footer-our-project ul{
    list-style-type: square;
}
.footer-social-networks p{
    font-family: Montserrat SemiBold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}
.footer-social-networks ul{
    list-style: none;
    padding:0;
}
.footer-social-networks ul>li>i{
    font-size: 22px;
    color: #4985FF;
    padding-right: 10px;
}
.main-footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}
.footer-social-networks ul>li{
    padding-top: 10px;
}
.footer-our-project ul>li{
    padding-top: 10px;
}
.footer-main-link ul>li{
    padding-top: 10px; 
}
.footer-informations ul>li{
    padding-top: 10px; 
}
.footer-informations{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}
.footer-main-link{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}
.footer-our-project{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}
.footer-social-networks{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}
.main-footer{
    width: 100%;
    background: #F6F6F8;
    height: 300px;
}
.footer-copyright{
    width: 100%;
    height: 50px;
}
.footer-copyright p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}